<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="CollegeDatabase" connectionString="Server=101.37.25.133;Initial Catalog=College;User ID=CollegeSa;Password=Aa123456" providerName="System.Data.SqlClient" />-->
  <add name="CollegeDatabase" connectionString="Server=.;Initial Catalog=College;User ID=sa;Password=65630736;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
 
  <add name="TDFMySqlDatabase" providerName="MySql.Data.MySqlClient" connectionString="server=101.37.25.133;port=3306;database=t2m_ocr_demo;uid=root;password=t2mobile;charset=utf8;" />
  <!--<add name="TDFMySqlDatabase" providerName="MySql.Data.MySqlClient" connectionString="server=192.168.10.65;port=3306;database=t2m_tdf;uid=root;password=bf132;" />-->
</connectionStrings>