<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="LoginUrl" value="/login"/>
  <!--系统名称-->
  <add key="SystemName" value=""/>
  <!--开启登录验证码验证-->
  <add key="EnabledVerifyCode" value="true"/>
  <!--Dev:开发环境;Test:测试环境;Formal:正式环境;默认为Dev开发环境,每种环境会对框架策略有影响-->
  <add key="EnvironmentType" value="Dev"/>
  <!--站点请求域名白名单 域名名称字符串(只要域名或者IP，不要有[http:// 或 https://]以及端口)，以英文逗号分隔-->
  <add key="System.RefererUriWhiteList" value=""/>


</appSettings>