@{
   
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form method="POST" enctype="multipart/form-data">
            <label>单文件:</label>
            <input name="FileModel" type="file" />
            <br />
            <label>多文件</label>
            <input name="FileModels" type="file" />
            <input name="FileModels" type="file" />
            <br />
            <input name="Name" type="text" value="file" />
            <input type="submit" value="上传" />
        </form>
    </div>
</body>
</html>